form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.new-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

