form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}